.nav-image {
  width: 100%;
  height: 100vh;
}
.changePass {
  padding: 50px;
  width: 400px;
  background-color: #009f4d;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 5px;
  color: #fbf9fa;
}
.changePass h3,
.changePass h6 {
  text-align: center;
}
.changePassBtn {
  background-color: #ff851f;
  color: white;
}
.changePassBtn:hover {
  color: white;
}
