.nav-image {
  width: 100%;
  height: 100vh;
}
.forgot {
  padding: 50px;
  width: 400px;
  background-color: #009f4d;
  height: 510px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 5px;
  color: #fbf9fa;
}
.forgot h3,
.forgot h6 {
  text-align: center;
}
hr {
  background-color: white;
}
